@import "tailwindcss";

@theme {
  --font-text: "Montserrat", sans-serif;
  --font-heading: "Raleway", sans-serif;
}

/* Portfolio */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: scroll 50s linear infinite; /* 40s agar jalannya santai */
  width: max-content;
}

/* Supaya pas di-hover dia berhenti (agar user bisa lihat detail) */
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

/* Kriteria */
/* Animasi Fade In Up dengan 'opacity' awal 0 */
@keyframes fadeInUpFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Class pembantu untuk memicu animasi */
.animate-on-scroll {
  opacity: 0; /* Awalnya sembunyi */
}

.is-visible {
  animation: fadeInUpFade 0.8s ease-out forwards;
}

/* Delay bertingkat untuk efek 'satu per satu' */
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.delay-400 {
  animation-delay: 0.4s;
}

/* --- GOOGLE TRANSLATE FORCE HIDE --- */

/* 1. Sembunyikan Frame Top Bar Google (Target Iframe Spesifik) */
.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame,
iframe.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
}

/* 2. PAKSA Body agar tidak turun ke bawah */
/* Google menambahkan style="top: 40px" langsung ke body, kita timpa dengan !important */
body {
  top: 0px !important;
  position: static !important;
  margin-top: 0px !important;
}

/* 3. Sembunyikan Logo Google, Tooltip, dan Highlight */
.goog-logo-link,
.goog-te-gadget span,
.goog-te-gadget {
  display: none !important;
}

.goog-tooltip,
.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* 4. Sembunyikan elemen popup lainnya */
#goog-gt-tt {
  display: none !important;
  visibility: hidden !important;
}
